<IfModule mod_rewrite.c>
    RewriteEngine On

    # Modifie la base de réécriture ICI
    RewriteBase /~paugnat7/SAE401/CycleA/backend/public/

    # Redirige toutes les requêtes vers index.php si ce n'est pas un fichier ou un répertoire existant
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>