/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

@import "tailwindcss";

@theme {

  /* Toutes mes fonts */
  --font-sans: 'Poppins', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* toutes mes couleurs */
  --color-white: #ffffff;

  --color-light-bg: #EFEFEF;
  --color-light-text: #9C9C9C;

  --color-gray-input-bg: #DADADA;

  --color-dark-bg: #333;
  --color-dark-text: #434343;

  --color-red-warning: #F22D2D;


  /* Toutes mes tailles de polices */
  --font-size-xsmall: 0.625rem;
  --font-size-small: 0.750rem;

  --font-size-base: 0.875rem;

  --font-size-large: 1rem;
  --font-size-xlarge: 1.125rem;
  --font-size-xxlarge: 1.875rem;


}

body {
  font-family: var(--font-poppins);
  
}

.title16-medium {
  font-family: var(--font-poppins);
  font-size: var(--font-size-large);
  font-weight: 500;
}

.p12-regular {
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  font-weight: 400;
}

.p12-semi-bold {
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  font-weight: 600;
}

.p12-medium {
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  font-weight: 500;
}

.span10-regular {
  font-family: var(--font-poppins);
  font-size: var(--font-size-small);
  font-weight: 400;
}

.title14-semi-bold {
  font-family: var(--font-poppins);
  font-size: var(--font-size-small);
  font-weight: 600;
}

.title30-semi-bold {
  font-family: var(--font-poppins);
  font-size: var(--font-size-xxlarge);
  font-weight: 600;
}

.title18-medium {
  font-family: var(--font-poppins);
  font-size: var(--font-size-xlarge);
  font-weight: 500;
}